@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrotech</title>
    <link href="~/Scripts/css/Aboutus.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Kumbh+Sans:wght@400;700&family=Noto+Sans&family=Open+Sans:ital,wght@0,500;1,400&family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">


        <main>
            <h1>About Agrotech</h1>

            <div class="about">
                <p>
                    Agrotech is a form of electronic commerse which allows consumers to directly but good or services from a seller over the internet using a web browser. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product’s availability and pricing at different e-retailer. As of 2016, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers and smartphones.
                    As online shop evokes the physical analogy of buying products or services at a regular “bricks-and-mortar” retailer or shopping center, the process is called business-to-consumer(B2C) online shopping.when an online store is set up to enable businesses to buy from another businessess,the process is called businesses (B2B) Online shopping. A typical online store enables the customer the browse the firm’s range of products and services, view photos or images of the products, along with information about the product specifications,features and prices.
                </p>
            </div>

            <h1>Services</h1>

            <div class="about-three-img">
                <div class="about-agriculture-leader">
                    <img src="~/Scripts/image/guarented.jpg" />
                    <h3>Guarented</h3>
                </div>
                <div class="about-agriculture-leader">
                    <img src="~/Scripts/image/quality.jpg" />
                    <h3>Quality</h3>
                </div>
                <div class="about-agriculture-leader">
                    <img src="~/Scripts/image/healthy.jpg" />
                    <h3>Healthy</h3>
                </div>
            </div>
        </main>
    </div>
    <script src="~/Scripts/script.js"></script>>
</body>
</html>
