
@{
    ViewBag.Title = "Product";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrotech</title>
    <link href="~/Scripts/css/productstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Kumbh+Sans:wght@400;700&family=Noto+Sans&family=Open+Sans:ital,wght@0,500;1,400&family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">

        <main>
            <div class="main-box">
                <div class="box">
                    <img src="~/Scripts/image/bajra.jpg" />
                    <h4 class="title">Bajra Grains</h4>
                    <div class="para">
                        Bajra is a coarse grain crop which is originated from India or Africa.
                    </div>
                    <div class="show">View</div>
                </div>
                <div class="box">
                    <img src="~/Scripts/image/beans.jpg" />
                    <h4 class="title">Beans</h4>
                    <div class="para">
                        peanut was at an early time introduced to the Old World tropics..
                    </div>
                    <div class="show">View</div>
                </div>
                <div class="box">
                    <img src="~/Scripts/image/tomato.jpg" />
                    <h4 class="title">Tomato</h4>
                    <div class="para">
                        Tomatoes are packed with vitamins A and C, calcium and potassium.
                    </div>
                    <div class="show">View</div>
                </div>
                <div class="box">
                    <img src="~/Scripts/image/zendu.jpg" />
                    <h4 class="title">Marigold</h4>
                    <div class="para">
                        Contains natural antiseptic/anti-inflammatory properties.
                    </div>
                    <div class="show">View</div>
                </div>
                <div class="box">
                    <img src="~/Scripts/image/cabbage.jpg" />
                    <h4 class="title">Cabbage</h4>
                    <div class="para">
                        Cabbage is a versatile variety suitable for the production of greens throughout the year.
                    </div>
                    <div class="show">View</div>
                </div>
                <div class="box">
                    <img src="~/Scripts/image/wheat.jpg" />
                    <h4 class="title">Wheat</h4>
                    <div class="para">
                        a cereal grain that yields a fine white flour used chiefly in breads.
                    </div>
                    <div class="show">View</div>
                </div>
                <div class="box">
                    <img src="~/Scripts/image/rose.jpg" />
                    <h4 class="title">Rose</h4>
                    <div class="para">
                        The leaves are alternate and pinnately compound.
                    </div>
                    <div class="show">View</div>
                </div>
                <div class="box">
                    <img src="~/Scripts/image/healthy.jpg" />
                    <h4 class="title">Beetroot</h4>
                    <div class="para">
                        It is Packed with essential nutrients, beetroots are a great source of fiber.
                    </div>
                    <div class="show">View</div>
                </div>
                <div class="box">
                    <img src="~/Scripts/image/Quality_Standards.jpg" />
                    <h4 class="title">Leafy Veggies</h4>
                    <div class="para">
                        BThey're packed with vitamins, minerals and fiber but low in calories.
                    </div>
                    <div class="show">View</div>
                </div>
            </div>
        </main>

    </div>
    <script src="~/Scripts/script.js"></script>>
</body>
</html>

