
@{
    ViewBag.Title = "Category";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrotech</title>
    <link href="~/Scripts/css/category.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Kumbh+Sans:wght@400;700&family=Noto+Sans&family=Open+Sans:ital,wght@0,500;1,400&family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">


        @*<div class="sub-nav">
                <ul class="sub-nav-links">
                    <li class="list-item"><a href="#bookorder">Book Order</a></li>
                    <li class="list-item"><a href="#myorder">My Order</a></li>
                    <li class="list-item"><a href="#myaccount">My Account</a></li>
                    <li class="list-item"><a href="#changepassword">Change Password</a></li>
                    <li class="list-item"><a href="#logout">Logout</a></li>
                </ul>
            </div>*@

        <main>
            <div class="main-box">
                <div class="box">
                    <img src="~/Scripts/image/vegetables.jpg" />
                </div>
                <div class="box">
                    <img src="~/Scripts/image/grains.jpg" />
                </div>
                <div class="box">
                    <img src="~/Scripts/image/flowers.jpg" />
                </div>
                <div class="box">
                    <img src="~/Scripts/image/pulses.jpg" />
                </div>
                <div class="box">
                    <img src="~/Scripts/image/fruits.jpg" />
                </div>
            </div>
        </main>
    </div>
    <script src="~/Scripts/script.js"></script>>
</body>
</html>

