
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrotech</title>
    <link href="~/Scripts/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Kumbh+Sans:wght@400;700&family=Noto+Sans&family=Open+Sans:ital,wght@0,500;1,400&family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">

        <main>
            <h2>LOGIN TO YOUR ACCOUNT</h2>

            <div class="content">
                <div class="first-content">
                    <div class="content-box">
                        <p class="lbl-farm">Userame</p>
                        <input type="text" id="username" class="txt-farm">
                    </div>
                    <div class="content-box">
                        <p class="lbl-farm">Password</p>
                        <input type="password" id="password" class="txt-farm">
                    </div>

                    <div class="buttons">
                        <button class="submit">Submit</button>
                        <button class="reset">Reset</button>
                    </div>
                </div>

                <div class="login-image">
                    <img src="./img/login.png" alt="">
                </div>
            </div>


        </main>
    </div>
    <script src="~/Scripts/script.js"></script>>
</body>
</html>